@model ArtifactsApp.Models.ViewModels.ArtifactCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<script src="~/js/JQuery3.1.4.js"></script>
<script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
<h1>Add Artifacts</h1>
<hr />
<div class="row">
    <div class="col-md-12">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-4 form-group">
                    <label asp-for="CommonNameOne" class="control-label"></label>
                    <input asp-for="CommonNameOne" class="form-control" />
                    <span asp-validation-for="CommonNameOne" class="text-danger"></span>
                </div>
                <div class="col-4 form-group">
                    <label asp-for="CommonNameTwo" class="control-label"></label>
                    <input asp-for="CommonNameTwo" class="form-control" />
                    <span asp-validation-for="CommonNameTwo" class="text-danger"></span>
                </div>
                <div class="col-4 form-group">
                    <label asp-for="CommonNameThree" class="control-label"></label>
                    <input asp-for="CommonNameThree" class="form-control" />
                    <span asp-validation-for="CommonNameThree" class="text-danger"></span>
                </div>
            </div>

            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                More Common Names
            </a>
            <div class="collapse" id="collapseExample">
                <div class="row">
                    <div class="col-4 form-group">
                        <label asp-for="CommonNameFour" class="control-label"></label>
                        <input asp-for="CommonNameFour" class="form-control" />
                        <span asp-validation-for="CommonNameFour" class="text-danger"></span>
                    </div>
                    <div class="col-4 form-group">
                        <label asp-for="CommonNameFive" class="control-label"></label>
                        <input asp-for="CommonNameFive" class="form-control" />
                        <span asp-validation-for="CommonNameFive" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control rounded-0" rows="10"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 form-group">
                    <label asp-for="KingdomText" class="control-label"></label>
                    <input asp-for="KingdomText" class="form-control" />
                    <span asp-validation-for="KingdomText" class="text-danger"></span>
                </div>
                <div class="col-3 form-group">
                    <label asp-for="PhylumText" class="control-label"></label>
                    <input asp-for="PhylumText" class="form-control" />
                    <span asp-validation-for="PhylumText" class="text-danger"></span>
                </div>
                <div class="col-3 form-group">
                    <label asp-for="ClassText" class="control-label"></label>
                    <input asp-for="ClassText" class="form-control" />
                    <span asp-validation-for="ClassText" class="text-danger"></span>
                </div>
                <div class="col-3 form-group">
                    <label asp-for="OrderText" class="control-label"></label>
                    <input asp-for="OrderText" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-4 form-group">
                    <label asp-for="FamilyText" class="control-label"></label>
                    <input asp-for="FamilyText" class="form-control" />
                    <span asp-validation-for="FamilyText" class="text-danger"></span>
                </div>
                <div class="col-4 form-group">
                    <label asp-for="GenusText" class="control-label"></label>
                    <input asp-for="GenusText" class="form-control" id="txtGenus" />
                    <span asp-validation-for="GenusText" class="text-danger"></span>
                </div>
                <div class="col-4 form-group">
                    <label asp-for="SpeciesText" class="control-label"></label>
                    <input asp-for="SpeciesText" class="form-control" id="txtSpecies" />
                    <span asp-validation-for="SpeciesText" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4 form-group">
                    <label asp-for="SourceId" class="control-label"></label>
                    <select asp-for="SourceId" class="form-control" asp-items="ViewBag.SourceId"></select>
                </div>
                <div class="col-4 form-group">
                    <label asp-for="OwnerId" class="control-label"></label>
                    <select asp-for="OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-2 form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="col-4 form-group">
                    <label asp-for="ApproxValue" class="control-label"></label>
                    <input asp-for="ApproxValue" class="form-control" />
                    <span asp-validation-for="ApproxValue" class="text-danger"></span>
                </div>
                <div class="col-4 form-group">
                    <label asp-for="AquiredDate" class="control-label"></label>
                    <input asp-for="AquiredDate" class="form-control" type="date" />
                    <span asp-validation-for="AquiredDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4 form-group">
                    <input asp-for="IsDonated" id="donatedCheck" /> @Html.DisplayNameFor(model => model.IsDonated)
                </div>
                <div class="col-4 form-group">
                    <input asp-for="IsExtinct" id="extinctCheck" /> @Html.DisplayNameFor(model => model.IsExtinct)
                </div>
            </div>
            <div class="row">
                <div id="dvDonated" class="col-4 form-group" style="display:none;">
                    <label asp-for="DonatedBy" class="control-label"></label>
                    <input asp-for="DonatedBy" class="form-control" />
                    <span asp-validation-for="DonatedBy" class="text-danger"></span>
                </div>
                <div class="col-4 form-group ExtinctDiv" style="display:none;">
                    <label asp-for="FirstDiscoveredDate" class="control-label"></label>
                    <input asp-for="FirstDiscoveredDate" class="form-control" type="date" />
                    <span asp-validation-for="FirstDiscoveredDate" class="text-danger"></span>
                </div>
                <div class="col-4 form-group ExtinctDiv" style="display:none;">
                    <label asp-for="LastDiscoveredDate" class="control-label"></label>
                    <input asp-for="LastDiscoveredDate" class="form-control" type="date" />
                    <span asp-validation-for="LastDiscoveredDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row">
      
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>

    <a asp-action="Index">Back to List</a>
</div>
    <script>
        $(document).ready(function () {
            $("#txtGenus")
                .focusout(function () {
                    var genusTxt = $("#txtGenus").val();
                    var input = $("#txtSpecies");
                    input.focus();
                    input.val('');
                    input.val(genusTxt + ' ');
              })
              //.blur(function() {
              //  $( "#txtSpecies" ).text($(this).text);
              //});

        $('#donatedCheck').change(function() {
            if (this.checked) {
                $("#dvDonated").show();
            }
            else {
                $("#dvDonated").hide();
            }        
        });
        $('#extinctCheck').change(function() {
            if (this.checked) {
                $(".ExtinctDiv").show();
            }
            else {
                $(".ExtinctDiv").hide();
            }        
        });
});


    </script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
