@model ArtifactsApp.Models.ViewModels.ArtifactCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<script src="~/js/JQuery3.1.4.js"></script>
<script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
<h1>Add Artifacts</h1>
<hr />
<div class="row">
    <div class="col-md-12">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-4 form-group">
                    <label asp-for="CommonNameOne" class="control-label"></label>
                    <input asp-for="CommonNameOne" class="form-control" />
                    <span asp-validation-for="CommonNameOne" class="text-danger"></span>
                </div>
                <div class="col-4 form-group">
                    <label asp-for="CommonNameTwo" class="control-label"></label>
                    <input asp-for="CommonNameTwo" class="form-control" />
                    <span asp-validation-for="CommonNameTwo" class="text-danger"></span>
                </div>
                <div class="col-4 form-group">
                    <label asp-for="CommonNameThree" class="control-label"></label>
                    <input asp-for="CommonNameThree" class="form-control" />
                    <span asp-validation-for="CommonNameThree" class="text-danger"></span>
                </div>
            </div>

            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                More Common Names
            </a>
            <div class="collapse" id="collapseExample">
                <div class="row">
                    <div class="col-4 form-group">
                        <label asp-for="CommonNameFour" class="control-label"></label>
                        <input asp-for="CommonNameFour" class="form-control" />
                        <span asp-validation-for="CommonNameFour" class="text-danger"></span>
                    </div>
                    <div class="col-4 form-group">
                        <label asp-for="CommonNameFive" class="control-label"></label>
                        <input asp-for="CommonNameFive" class="form-control" />
                        <span asp-validation-for="CommonNameFive" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control rounded-0" rows="10"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 form-group">
                    <label asp-for="KingdomId" class="control-label"></label>
                    <select asp-for="KingdomId" class="form-control" asp-items="ViewBag.KingdomId"></select>
                </div>
                <div class="col-3 form-group">
                    <label asp-for="PhylumId" class="control-label"></label>
                    <select asp-for="PhylumId" class="form-control" asp-items="ViewBag.PhylumId"></select>
                </div>
                <div class="col-3 form-group">
                    <label asp-for="ClassId" class="control-label"></label>
                    <select asp-for="ClassId" class="form-control" asp-items="ViewBag.ClassId"></select>
                </div>
                <div class="col-3 form-group">
                    <label asp-for="FamilyId" class="control-label"></label>
                    <select asp-for="FamilyId" class="form-control" asp-items="ViewBag.FamilyId"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-4 form-group">
                    <input type="checkbox" id="speciesCheck">
                    <label for="speciesCheck">Add New Species</label>
                </div>
            </div>
            <div class="row">
                <div id="speciesList" class="col-4 form-group">
                    <label asp-for="SpeciesId" class="control-label"></label>
                    <select asp-for="SpeciesId" class="form-control" asp-items="ViewBag.SpeciesId"></select>
                </div>
                <div id="speciesTextbox" class="col-4 form-group" style="display:none;">
                    <label asp-for="SpeciesText" class="control-label"></label>
                    <input asp-for="SpeciesText" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-4 form-group">
                    <label asp-for="SourceId" class="control-label"></label>
                    <select asp-for="SourceId" class="form-control" asp-items="ViewBag.SourceId"></select>
                </div>

            </div>
            <div class="row">
                <div class="col-4 form-group">
                    <label asp-for="OwnerId" class="control-label"></label>
                    <select asp-for="OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-2 form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="col-4 form-group">
                    <label asp-for="ApproxValue" class="control-label"></label>
                    <input asp-for="ApproxValue" class="form-control" />
                    <span asp-validation-for="ApproxValue" class="text-danger"></span>
                </div>
                <div class="col-4 form-group">
                    <label asp-for="AquiredDate" class="control-label"></label>
                    <input asp-for="AquiredDate" class="form-control" />
                    <span asp-validation-for="AquiredDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4 form-group">
                    <input asp-for="IsDonated" id="donatedCheck" /> @Html.DisplayNameFor(model => model.IsDonated)
                </div>
            </div>
            <div class="row">
                <div id="dvDonated" class="col-4 form-group" style="display:none;">
                    <label asp-for="DonatedBy" class="control-label"></label>
                    <input asp-for="DonatedBy" class="form-control" />
                    <span asp-validation-for="DonatedBy" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4 form-group">
                    <input asp-for="IsExtinct" id="extinctCheck" /> @Html.DisplayNameFor(model => model.IsExtinct)
                </div>
            </div>
            <div class="row">
                <div class="col-4 form-group ExtinctDiv" style="display:none;">
                    <label asp-for="FirstDiscoveredDate" class="control-label"></label>
                    <input asp-for="FirstDiscoveredDate" class="form-control" />
                    <span asp-validation-for="FirstDiscoveredDate" class="text-danger"></span>
                </div>
                <div class="col-4 form-group ExtinctDiv" style="display:none;">
                    <label asp-for="LastDiscoveredDate" class="control-label"></label>
                    <input asp-for="LastDiscoveredDate" class="form-control" />
                    <span asp-validation-for="LastDiscoveredDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>

    <a asp-action="Index">Back to List</a>
</div>
    <script>
        $(document).ready(function() {

        $('#speciesCheck').change(function() {
            if (this.checked) {
                $("#speciesList").hide();
                $("#speciesTextbox").show();
            }
            else {
                $("#speciesList").show();
                $("#speciesTextbox").hide();
            }        
        });
        $('#donatedCheck').change(function() {
            if (this.checked) {
                $("#dvDonated").show();
            }
            else {
                $("#dvDonated").hide();
            }        
        });
        $('#extinctCheck').change(function() {
            if (this.checked) {
                $(".ExtinctDiv").show();
            }
            else {
                $(".ExtinctDiv").hide();
            }        
        });
});


    </script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
