@model ArtifactsApp.Models.Artifact

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Artifact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CommonNameOne" class="control-label"></label>
                <input asp-for="CommonNameOne" class="form-control" />
                <span asp-validation-for="CommonNameOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommonNameTwo" class="control-label"></label>
                <input asp-for="CommonNameTwo" class="form-control" />
                <span asp-validation-for="CommonNameTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommonNameThree" class="control-label"></label>
                <input asp-for="CommonNameThree" class="form-control" />
                <span asp-validation-for="CommonNameThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommonNameFour" class="control-label"></label>
                <input asp-for="CommonNameFour" class="form-control" />
                <span asp-validation-for="CommonNameFour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommonNameFive" class="control-label"></label>
                <input asp-for="CommonNameFive" class="form-control" />
                <span asp-validation-for="CommonNameFive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassId" class="control-label"></label>
                <select asp-for="ClassId" class="form-control" asp-items="ViewBag.ClassId"></select>
                <span asp-validation-for="ClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyId" class="control-label"></label>
                <select asp-for="FamilyId" class="form-control" asp-items="ViewBag.FamilyId"></select>
                <span asp-validation-for="FamilyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KingdomId" class="control-label"></label>
                <select asp-for="KingdomId" class="form-control" asp-items="ViewBag.KingdomId"></select>
                <span asp-validation-for="KingdomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhylumId" class="control-label"></label>
                <select asp-for="PhylumId" class="form-control" asp-items="ViewBag.PhylumId"></select>
                <span asp-validation-for="PhylumId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeciesId" class="control-label"></label>
                <select asp-for="SpeciesId" class="form-control" asp-items="ViewBag.SpeciesId"></select>
                <span asp-validation-for="SpeciesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceId" class="control-label"></label>
                <select asp-for="SourceId" class="form-control" asp-items="ViewBag.SourceId"></select>
                <span asp-validation-for="SourceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <select asp-for="OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApproxValue" class="control-label"></label>
                <input asp-for="ApproxValue" class="form-control" />
                <span asp-validation-for="ApproxValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AquiredDate" class="control-label"></label>
                <input asp-for="AquiredDate" class="form-control" />
                <span asp-validation-for="AquiredDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDonated" /> @Html.DisplayNameFor(model => model.IsDonated)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DonatedBy" class="control-label"></label>
                <input asp-for="DonatedBy" class="form-control" />
                <span asp-validation-for="DonatedBy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsExtinct" /> @Html.DisplayNameFor(model => model.IsExtinct)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FirstDiscoveredDate" class="control-label"></label>
                <input asp-for="FirstDiscoveredDate" class="form-control" />
                <span asp-validation-for="FirstDiscoveredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastDiscoveredDate" class="control-label"></label>
                <input asp-for="LastDiscoveredDate" class="form-control" />
                <span asp-validation-for="LastDiscoveredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
